* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#d3e7e1;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: #2D2C2A;
}

header {
    padding: 32px 0;
    text-align: center;
}

header,
section {
    max-width: 350px;
    margin: 0 auto;
}

header h1 {
    margin: 4px 0;
    font-size: 28px;
    line-height: 31px;
}

header h1 span {
    color: #1a3c34;
}

header p {
    font-size: 14px;
    line-height: 16px;
}

section {
    margin-bottom: 24px;
}

section h2 {
    background-color: #046241;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
    color: #def5ee;
    border-radius: 4px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

li .details {
    max-width: 260px;
}

.details h3{
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 19px;
}

.details p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
}

